.footer__modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms linear;
}
.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.footer__modal__content {
  width: 463px;
  height: 245px;
  z-index: 12;
  position: fixed;
  top: 30%;
  left: 33%;
  transform: (-50%, -50%);
  border-radius: 20px;
  background: var(--primary-color);
  padding: 20px;
  border: 1px solid #fff;
}
.close__button {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__close {
    fill: #000;
  width: 15px;
  height: 15px;
  transition: transform 300ms linear;
}
.modal__footer__title {
    color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 63px;
}
.modal__footer__img {
     position: absolute;
    width: 30px;
    height: 30px;
}
.footer__first__img {
     top: 69px;
    left: 43px;
}

.footer__second__img {
     top: 69px;
    right: 42px;
}
.footer__third__img {
        top: 145px;
    left: 87px;
}
.footer__fourth__img {
     top: 145px;
    right: 86px;
}
