<section class="calculator">
    <div class="line"></div>
    <div class="container">
        <h2 class="calculator__title">Калькулятор</h2>
        <form class="calculator__form" action="">
            <input class="calculator__form__input" type="number" placeholder="Введіть число">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <input type="number" placeholder="Введіть число">
            <button>=</button>
            <input type="number" placeholder="Результат">
        </form>
    </div>
</section>