<footer class="footer">
  <div class="container">
    <a href="" class="footer__link__logo"
      ><svg class="footer__icon__logo">
        <use href="/img/svg/header/symbol-defs.svg#icon-icon-logo"></use>
      </svg>
    </a>

    <p class="footer__text">
      Тел: +38 (123) 456 78 90<br />
      E-Mail: codingmagic@gmail.com<br />
      Facebook: CodingMagic<br />
      Twitter: CodingMagic<br />
      Instagram: CodingMagic
    </p>
      <form action="" class="footer__form">
        <label class="footer__label"
          ><input
            type="email"
            class="footer__input"
            placeholder="Ваша ел. адреса..."
        /></label>
        <button class="footer__button">Підписатись</button>
      </form>
      <p class="andreilox__info">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
  </div>
</footer>
