<div class="footer__modal__backdrop active" id="footer__modal">
  <div class="footer__modal__content">
    <button class="close__button" type="button" id="footer__modal__close">
      <img class="icon__close" src="../img/svg/header/close.png" alt="#">
    </button>
    <h2 class="modal__footer__title">Дякую за підписку!</h2>
    <img
      src="../img/footer-modal/sword.png"
      alt="sword"
      class="modal__footer__img footer__first__img"
    />
    <img
      src="../img/footer-modal/game.png"
      alt="gamedev"
      class="modal__footer__img footer__second__img"
    />
    <img
      src="../img/footer-modal/puzzle.png"
      alt="puzzle"
      class="modal__footer__img footer__third__img"
    />
    <img
      src="../img/footer-modal/xo.png"
      alt="xo"
      class="modal__footer__img footer__fourth__img"
    />
  </div>
</div>
