  <section class="guess__number">
    <div class="container">
      <h2 class="guess__title">Вгадай число, яке загадав комп’ютер</h2>
      <div class="guess__form__container">
        <form action="" class="guess__form" id="form-guess">
          <input type="text" id="guessInput" class="guess__input" placeholder="Введіть число">
          <button type="button" class="guess__btn">
            <img src="/img/svg/header/deandruff.svg" alt="" class="guess__img">
          </button>
        </form>
        <p class="guess__result"></p>
      </div>
    </div>
  </section>