<header class="header">
  <div class="container">
    <a class="header__link-logo" href="#">
      <svg class="header__link-logo__icon">
        <use href="/img/svg/header/symbol-defs.svg#icon-icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item">
          <a class="header__nav__item__link" href="#">
            Інтерактив
            <svg class="header__nav__item__link__icon">
              <use href="/img/svg/header/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
          <ul class="header__nav__item__submenu" id="header-submenu-filter-list">
            <li id="numerical" class="header__nav__item__submenu__item">Числовий</li>
            <li id="game" class="header__nav__item__submenu__item">Ігровий</li>
            <li id="acquaintance" class="header__nav__item__submenu__item">Ознайомчий</li>
          </ul>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__item__link" href="">Наша команда</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__item__link" href="">Контакти</a>
        </li>
      </ul>
    </nav>

    <img class="header__switch-icon" id="icon" src="/img/svg/header/white.svg" alt="#">
    <p class="header__text">Вітаємо, <span class="header__text__user-name">User</span>!</p>
  </div>
    
    <!-- <form id="myModal2" class="modal2">
      <div class="modal2__content">
        <p class="header__modal2__text">Привіт!</p>
      </div>
    </form> -->
    <div id="myModal2" class="modal2">
      <div class="modal__content2">
        <img class="close" id="closeModalBtn2" src="../img/svg/header/close.png" alt="cross">
        <p class="header__modal2__text">Дякую за підписку!</p>

        <div class="icons">
          <img class="sword__icon2" src="/img/svg/header/sword.png" alt="sword">
          <img class="puzzle__icon2" src="/img/svg/header/puzzle.png" alt="puzzle">
          <img class="tic-tac-toe__icon2" src="/img/svg/header/tic-tac-toe.png" alt="tic-tac-toe">
          <img class="game-development__icon2" src="/img/svg/header/game-development.png" alt="game-development">
        </div>
      </div>
    </div>
</header>