<section class="leap__year">
    <div class="container">
        <h2 class="year__title">Перевір в який рік ти народився</h2>
        <div class="leap__year__form__container">
            <form action="" class="leapyear__form">
                <input class="leap__year__input" type="text" pattern="^[ 0-9]+$" id="yearInput" placeholder="Введіть рік народження">
                <button class="leap__year__btn" type="button">
                    <img class="leap__year__img" src="/img/svg/header/deandruff.svg" alt="">
                </button>
            </form>
            <p class="leap__year__result"></p>
        </div>
    </div>

</section>