<section class="rps-sesection" id="rock-paper-scissors">
    <div class="container">
        <div  class="rps-sesection__div-game">
            <h3 class="rps-sesection__title">Камінь - ножиці - папір</h3>
            <ul class="rps-sesection__list">
                <li class="rps-sesection__item">
                    <button class="rps-sesection__item__btn">
                        1
                    </button>
                </li>
                <li class="rps-sesection__item">
                    <button class="rps-sesection__item__btn">
                        2
                    </button>
                </li>
                <li class="rps-sesection__item">
                    <button class="rps-sesection__item__btn">
                        3
                    </button>
                </li>
            </ul>
            <p class="rps-sesection__text"></p>
            <button class="rps-sesection__btn">Варіант комп’ютера</button>
        </div>
        <div class="rps-sesection__div-score">
            <p class="rps-sesection__div-score__text">
                Рахунок:
                Комп’ютер - <span>0</span>
                Ви - <span>0</span>
            </p>
        </div>
    </div>
</section>