<section class="time__calc">
    <div class="container">
        <h1 class="time__calc__title">Калькулятор часу</h1>
        <form action="" class="time__calc__form">
            <input type="number" id="secondsInput" placeholder="">
            <button class="time__calc__btn" type="button">
                <img src="/src/img/svg/header/symbol-defs.svg" alt="">
            </button>
            
        </form>
        <p class="time__calc__result">
            <span class="time__calc__dots">.......................</span>
            <span id="output">0 дн. 00:00:00</span>
        </p>
    </div>
</section>